.head {
         padding-top: 5rem;
        padding-bottom: 5rem;
        text-transform: uppercase;
        line-height: 1;
        font-family:  'Poppins', sans-serif;
        justify-content: center;
        text-align: center;
        // max-width: 100%;
        //     height: 100vh;
        // 
       // background-image: url("https: //images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        
  h2{
    display: block;
    font-size: 2rem;
    font-weight: 800;
    color: #E6A756;
}
  h1{
    font-size: 3rem;
    font-weight: lighter;
    line-height: 4rem;
    text-align: center;
    color: antiquewhite;

}
}